{{ define "main" }}

<div class="text-gray-700 items-center bg-shell-100 font-sans">
  <div class="max-w-6xl mx-auto py-32">
    <div class="w-full px-4 py-12 sm:py-24">
      <h1 class="text-5xl text-center uppercase font-semibold tracking-widest text-coffee-1000">Berlin coffee shop</h1>
      <h2 class="text-3xl text-center uppercase font-semibold tracking-widest text-coffee-800">tea house</h2>
      <div class="flex flex-row flex-wrap mt-16">
        {{ range $.Site.Data.menu.sections }}
        {{ partial "menu.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div class="bg-gray-900"></div>
{{ end }}