{{ define "main" }}

{{ $original := resources.Get (print .Params.thumbnail) }}
{{ $large := ($original.Fill "1920x1080 jpg center q75 jpg Lanczos" )}}
<div
  class="text-gray-700 object-cover h-screen items-center flex"
  style="background-image: url({{ $large.Permalink }})"
>
  <div class="text-white w-full lg:max-w-6xl mx-auto px-4">
    <div class="w-full lg:w-3/4">
      <div class="markdown max-w-3xl mx-auto px-4 z-20 w-full">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}
