<header class="w-full px-4 max-w-6xl mx-auto">
    <nav class="flex items-center justify-between flex-wrap">
        <a href="{{ .Site.Home.Permalink }}" class="h-16 flex items-center px-4 text-gray-700 font-bold">
            Home
        </a>
        <div class="sm:flex w-full sm:w-auto hidden sm:block mt-2 sm:mt-0 sm:space-x-2">
            {{ range .Site.Sections }}
            <a href="{{ .Permalink }}"
                class="text-gray-500 hover:text-blue-400 h-16 flex items-center px-4">{{ .Title }}</a>
            {{ end }}
        </div>
    </nav>
</header>