<div class="mt-2">
    <a href="{{ .Permalink }}">
        <article class="flex flex-col py-2">
            {{ $imgName := .Params.thumbnail}}
            {{ $original := ($.Site.GetPage "section" "images").Resources.GetMatch (printf "*%s*" $imgName) }}
            {{ if $original }}
            {{ $image := ($original.Fill "500x500 jpg center q75 jpg Lanczos" )}}
            <img class="object-cover h-48 w-full" src="{{ $image.Permalink }}" alt="{{ .Params.thumbnail }}">
            {{ end }}
            <div class=" flex flex-col">
                <p class="font-semibold self-start text-teal-600 mt-2">
                    {{ .Section | title }}
                </p>
                <h3 class="hover:underline font-semibold text-xl  inline-block leading-tight">
                    {{ .Title }}
                </h3>
                <div class="text-xs text-gray-500 flex justify-between">
                    <div>
                        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z" }}'>
                            {{- .Date.Format (.Site.Params.dateform | default "January 2, 2006") -}}
                        </time>
                        By
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ .Params.author }}</span>
                        </span>
                    </div>
                    <span class="disqus-comment-count" data-disqus-identifier="{{ .File.UniqueID }}"></span>
                </div>
                <p class="mt-4 text-sm">{{ .Summary }}</p>
            </div>
        </article>
    </a>
</div>