{{ define "main" }}
<article class="flex flex-col pt-32 pb-16">
    <div class="max-w-screen-lg mx-auto px-4 lg:px-0 w-full">
        <h1 class="text-6xl font-semibold leading-tight">Your Customers Deserve the Best Online Experience Possible
        </h1>
        <h2 class="text-2xl mt-8">Imagine your dream project turned into a reality.<br>We will make that happen, because
            we
            love our clients as much as their
            products.
        </h2>
        <div class="mt-24 flex justify-center">
            <a style="background-image: linear-gradient(90deg, hsl(350, 100%, 59%), hsl(17, 100%, 59%));"
                href="{{ (.Site.GetPage "contact.md").Permalink }}"
                class="px-8 py-4 tracking-wide text-white font-semibold rounded-full">Get in Touch</a>
        </div>
        <h2 class="text-3xl mt-64 text-center font-semibold">Our Services</h2>
        <p class="text-xl text-center mt-4">Professional software development for small businesses and start-ups</p>
        <div x-data="{selected: 0}" class="mt-32">
            <div class="flex flex-wrap">
                <p x-on:click="selected = 0" :class="{'text-red-600 border-red-600' : selected === 0}"
                    class="hidden sm:block font-semibold flex-1 border-b border-gray-400 w-1/3 text-center py-6 hover:text-red-600 cursor-pointer transition duration-200 ease-out">
                    Web
                    Development</p>
                <p x-on:click="selected = 1" :class="{'text-red-600 border-red-600' : selected === 1}"
                    class="hidden sm:block font-semibold flex-1 border-b border-gray-400 w-1/3 text-center py-6 hover:text-red-600 cursor-pointer transition duration-200 ease-out">
                    Design &
                    Branding</p>
                <p x-on:click="selected = 2" :class="{'text-red-600 border-red-600' : selected === 2}"
                    class="hidden sm:block font-semibold flex-1 border-b border-gray-400 w-1/3 text-center py-6 hover:text-red-600 cursor-pointer transition duration-200 ease-out">
                    Task
                    Automation</p>
                <div :class="{'block': selected === 0, 'block sm:hidden': selected !== 0}" class="w-full my-8">
                    <h3 class="text-2xl font-semibold mb-8">Your business deserves a beautiful website</h3>
                    <p>Online presence is now more important than ever.</p>
                    <p>You need a team of tech experts to build you a website.</p>
                    <p>Exactly how you want it to look like.</p>
                </div>
                <div :class="{'block': selected === 1, 'block sm:hidden': selected !== 1}" class="w-full my-8">
                    <h3 class="text-2xl font-semibold mb-8">Make your design the highlight of your brand</h3>
                    <p>Online presence is now more important than ever.</p>
                    <p>You need a team of tech experts to build you a website.</p>
                    <p>Exactly how you want it to look like.</p>
                </div>
                <div :class="{'block': selected === 2, 'block sm:hidden': selected !== 2}" class="w-full my-8">
                    <h3 class="text-2xl font-semibold mb-8">Automate your workflows to focus on your business</h3>
                    <p>Online presence is now more important than ever.</p>
                    <p>You need a team of tech experts to build you a website.</p>
                    <p>Exactly how you want it to look like.</p>
                </div>
            </div>
        </div>
        <div class="flex">
            <a href=""
                class="mx-auto px-8 py-4 text-red-600 border border-red-600 block mt-16 hover:bg-red-600 hover:text-white transition duration-200 ease-out uppercase tracking-wide">Learn
                More</a>
        </div>
    </div>
    </div>
    <div class="bg-blue-100 text-blue-900 mt-16">
        <div class="max-w-screen-lg mx-auto px-4 lg:px-0 w-full">
            <h2 class="text-3xl mt-16 text-center font-semibold">Bring your unique vision to life</h2>
            <p class="text-xl text-center mt-4">We make our clients reach their true potential in the online space. Our
                flexible workflow keeps you in track on how your project is going throughout the development phase. We
                believe communication is the key to for successfull projects.</p>
            <h3 class="text-2xl font-semibold">How we work</h3>
            <h4 class="text-xl font-semibold mt-8">Initial Meeting</h4>
            <p class="mt-2">We go over your requirements and give an estimate on the price.</p>
            <h4 class="text-xl font-semibold mt-8">Signing the Contract</h4>
            <p class="mt-2">A contract keeps us both safe.</p>
        </div>
    </div>
</article>
{{ end }}